#!/bin/bash
# Create venv if it doesn't exist and install dependencies
if [ ! -d .venv ]; then
    echo "Creating virtual environment and installing dependencies..."
    uv sync --dev || return
fi

source .venv/bin/activate || return

echo ""
echo -e "━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━"
echo -e "Usage:"
echo -e "  eqconvert              # converts all EQ CSVs in Downloads dir"
echo -e "  eqconvert --dir <path> # converts all EQ CSVs in custom <path>"
echo -e "  eqconvert --keep       # do not delete source CSVs after conversion"
echo -e "━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━"
echo ""
