name: Lint & Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    name: Run across python versions
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup environment
        uses: astral-sh/setup-uv@v7.1.4
        with:
          activate-environment: "true"
      - name: Check code quality
        run: |
          uv run basedpyright
          uv run ruff check
      - name: Test
        run: |
          uv run pytest
      - name: Run command line tool
        run: |
          eqconvert ./tests/data/ --keep
